
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<h2 class="section-headline bg-primary" style="padding:15px; margin:0px -16px"><strong>USER ACCOUNT</strong></h2>

		<div class="row" style="margin-top:10px">
			<div class="col-xs-9 col-xs-offset-3">
				<img class="img-responsive" src="/image/hours.png" />
			</div>
		</div>
	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer"/>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
